
<div layout="row" layout-fill>

  <md-sidenav layout="column"
              class="md-sidenav-left"
              md-component-id="left"
              md-is-locked-open="vm.openNav"
              md-whiteframe="4">
    <md-button ng-click="vm.createCategory($event);vm.toggleSidenav('left')">
      <ng-md-icon icon="add"></ng-md-icon>create new category
    </md-button>
    <md-list class="md-dense" flex>
      <md-list-item class="md-2-line" ng-repeat="item in vm.categories"
                    ng-click="vm.showCat($index);vm.toggleSidenav('left')">
        <div class="md-list-item-text" layout="column">
          <p>{{item.label}}</p>
        </div>
        <md-button class="md-secondary md-icon-button" ng-click="vm.deleteCat($index);vm.toggleSidenav('left')">
          <i class="material-icons">delete</i>
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div layout="column" flex>
      <md-toolbar class="cyanbg">
      <div class="md-toolbar-tools">
        <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm aria-label="Menu">
          <md-tooltip md-direction="bottom">
            category manager
          </md-tooltip>
          <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>

        <md-input-container class="light-text" flex>
          <label>&nbsp;</label>
          <input ng-model="vm.searchString" ng-enter="vm.search()" placeholder="enter search">
        </md-input-container>
        <md-switch ng-model="vm.hashtag" aria-label="Switch 2" ng-true-value="'#'" ng-false-value="''" class="md-warn">
          <md-tooltip md-direction="bottom">
            Search by Hashtag
          </md-tooltip>
          Use #
        </md-switch>
        <md-button aria-label="Search" ng-click="vm.search()">
          <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
      </div>

    </md-toolbar>


    <md-content layout-fill layout="column" flex>
      <md-progress-linear ng-disabled="!vm.loadInProgress" md-mode="query"></md-progress-linear>
      <md-tabs md-dynamic-height md-selected="vm.tweetsType">
        <md-tab label="Search Results" flex>
          <md-content>
            <md-list flex>
              <md-list-item ng-repeat="tweet in vm.tweetList">

                <img ng-src="{{tweet.face}}" class="md-avatar"/>
                <div class="md-list-item-text">
                  <h3 ng-bind-html="'@'+tweet.name | linkUsername"></h3>
                  <p ng-bind-html="tweet.text | tweet"></p>
                </div>
                <div layout="row" layout-align="center center" class="md-secondary">
                  <div class="catlabel" ng-click="vm.showCat(tweet.category)" ng-if="vm.categories[tweet.category]"> {{vm.categories[tweet.category].label}}
                  </div>

                  <md-button class="md-icon-button red" ng-click="vm.removeTweet(tweet.id)" ng-if="vm.categories[tweet.category]">
                    <md-tooltip md-direction="top">
                      remove from category
                    </md-tooltip>
                    <i class="material-icons">remove</i>
                  </md-button>
                  <md-menu ng-if="!vm.categories[tweet.category]">
                    <md-button class="md-icon-button green">
                      <md-tooltip md-direction="top">
                        add to category
                      </md-tooltip>
                      <i class="material-icons">add</i>
                    </md-button>
                    <md-menu-content width="6">
                      <md-menu-item ng-repeat="item in vm.categories">
                        <md-button ng-click="vm.catclick($parent.$index,$index)">
                          <md-icon md-menu-align-target md-svg-icon="call:no-sim"></md-icon>
                          {{item.label}}
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <i class="material-icons">add</i>
                        <md-button ng-click="vm.createCategory($event,$parent.$index,$index)">
                          create new category
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>

              </md-list-item>

            </md-list>
          </md-content>
        </md-tab>
        <md-tab ng-if="vm.selectedCat" label="Category: {{vm.selectedCat}}" flex>
          <md-content class="md-padding">
            <md-list flex>
              <md-list-item class="animate-repeat"
                            ng-repeat="tweet in vm.catTweetList | filter:{ category: vm.selectedCatIndex}">
                <img ng-src="{{tweet.face}}" class="md-avatar"/>
                <div class="md-list-item-text">
                  <h3 ng-bind-html="'@'+tweet.name | linkUsername"></h3>
                  <p ng-bind-html="tweet.text | tweet"></p>
                </div>
                <div layout="row" layout-align="center center" class="md-secondary">
                  <md-button class="md-secondary md-icon-button red" ng-click="vm.removeTweet(tweet.id)">
                    <i class="material-icons">delete</i>
                  </md-button>
                </div>
              </md-list-item>

            </md-list>
          </md-content>
        </md-tab>

      </md-tabs>

      <md-content>
  </div>
</div>
